.stick-header{
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: whitesmoke;
}   

.lend{
    background-color: green;
    color: whitesmoke;
}
.owe{
    background-color: red;
    color: whitesmoke;
}
.spent{
    background-color: blue;
    color: whitesmoke;
}

.bg-custom-1{
    background-color: aliceblue;
}

.bg-custom-2{
    background-color: azure;
            height: calc(100vh - 70px);
            overflow-y: auto;
            overflow-x: hidden;
}

.bg-custom-3{
    background-color: aliceblue;
}